@model IEnumerable<Mvc.Models.Entity.Envio>
@{
    ViewData["Title"] = "Consultar";
}


<p>
    <a onclick="showInPopup('@Url.Action("Create", "Home", new { id = 0 }, Context.Request.Scheme)')"
        class="btn btn-sm btn-success text-white">
        <i class="fas fa-user-plus"></i> Agregar Envio
    </a>
</p>


<div class="col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <h5>Lista de Envios</h5>
        </div>
        <div class=" card-body">
            <table id="usuario" class="table responsive table stripped">
                <thead>
                    <tr>
                        <th>NroGuia</th>
                        <th>Destino</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var envio in Model)
                    {
                        <tr>
                            <td>@envio.Id</td>
                            <td>@envio.Codigo</td>
                            <td>@envio.Title</td>
                            <td>@envio.Telefono</td>
                            <td>@envio.Description</td>

                            <td>
                                
                                <button class="btn btn-danger btn-sm" onclick="eliminarUsuario('@envio.Id')"><i
                                        class='fa-solid fa-trash-can'></i></button>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_MostrarModal" />
    <script src="~/js/showmodal.js"></script>

    <script>

        function eliminarUsuario(id) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "La eliminación del envioo es irreversible.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Home/Delete?id=' + id;
                }
            });
        }
    </script>

}